@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e4ea;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
